/* style variable*/
:root {
  --primary: "#fbfbf0";
}
/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
h1,
h3 {
  font-size: 1.2em;
}
/* reset */
body,
p,
a,
ul,
li {
  padding: 0;
  margin: 0;
  text-decoration: none;
}
li {
  list-style: none;
}
/* base styles */
html,
body {
  background: var(--primary);
  overflow-x: hidden;
  font-family: "Rubik", sans-serif !important;
  color: #574100;
}

/* antカードの余分な余白の削除 */
.ant-card-body {
  padding: 0 !important;
}
